.container{
    display: flex;
    height: 88vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3.2rem 2.4rem;
    color: var(--color-dark);

    & > *{
        margin-bottom: 1.6rem; 
    }
}

.bottom-text{
    font-size: 1.688rem;
    align-self: flex-start;
    margin-bottom: 1.6rem;
    color: var(--font-color-light);
}