.container{
    display: flex;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1.6rem;
    font-size: 1.6rem;
    color: var(--color-dark);
}

.bottom-text{
    font-size: 1.688rem;
    align-self: flex-start;
    margin-bottom: 1.6rem;
    color: var(--font-color-light);
}