:root{
    --clr-dark: rgb(0, 0, 0);
    --clr-light: #5c5c5c;

    --clr-gray-light: #dbdbdb;

    --font-color: var(--clr-dark);
    --font-color-light: var(--clr-light);

    --clr-success: rgb(139, 240, 72);
    --clr-alert: rgb(248, 99, 99);
    --clr-warning: rgb(248, 183, 99);
    --clr-info: rgb(99, 188, 248);

    --box-shadow: 
        -1.2rem -1.2rem 1.2rem 0 rgb(255, 255, 255),
        1.2rem 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.2);
    --box-shadow-sm: 
        -.8rem -.8rem .8rem 0 rgb(255, 255, 255),
        .8rem .8rem .8rem 0 rgba(0, 0, 0, 0.2);
}